:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: #2196F3;
    --alt-color: #ffffff;
    --alt-dark-color: #2F303A;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--title-text-color);
}
/* logo */
.logo {
color: var(--accent-color);
font-family: 'Raleway', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
/* second part of the logo */
.studio-word {
    color: #000000;
    }
.studio-word-footer {
    color: var(--alt-color);
}    

/* basic style fixing */
.list, .site-nav, .contacts-top, .contacts-bottom, .portfolio-button-list {
    list-style: none;
}
/* hover prop */
.studio, .portfolio, .contacts {
    text-decoration: none;
}
.studio {

font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.portfolio {

font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.contacts {

font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.studio, .contacts:hover,
.studio, .contacts:focus {
color: var(--accent-color);
}
.portfolio:hover, 
.portfolio:focus {
color: var(--accent-color);
}
 /* contacts hover prop */
.mail-top, .tel-top, .mail-bottom, .tel-bottom, .adress-bottom {
text-decoration: none;
    } 
    .tel-top {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
        
    color: var(--primary-text-color);
    } 
    .mail-top {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    
        color: var(--primary-text-color);
    }
.mail-top, .tel-top:hover,
.mail-top, .tel-top:focus {
    color: var(--accent-color);
}
/* text for p */
.proffesion, .section-text, .project-info {
    color: var(--primary-text-color);
}
/* footer prop */
.page-footer {
   background: var(--alt-dark-color);
}
.adress-bottom {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--alt-color);
}
.mail-bottom {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.tel-bottom {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}


 .mail-bottom:hover,
 .mail-bottom:focus {
    color: var(--accent-color);
}
.tel-bottom:hover,
.tel-bottom:focus {
    color: var(--accent-color);
}
.hero {
  background: var(--alt-dark-color);
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--alt-color);
}
.order-button {
font-family: inherit;
color: var(--alt-color);
background: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

}
.info-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
.section-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.section-title-team {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.team {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.proffesion {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
/* filter button list */
.portfolio-button-list {
    font-family: 'Roboto';
}
.portfolio-button-list .button:hover
.portfolio-button-list .button:focus
 {
color: var(--accent-color);
}
.button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--alt-color);
}
.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.project-type {
font-weight: 400;
font-size: 16px;
line-height: 1,8;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

   




